SUPABASE_URL="https://utepcdftefrrbqnbhxpt.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV0ZXBjZGZ0ZWZycmJxbmJoeHB0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI5MTk1MzAsImV4cCI6MjA5ODQ5NTUzMH0.e-IN4Uv_AOZ2iiraVHQkUO7PKvN0RO4e17CHSq8KgZQ"
GROQ_API_KEY="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"
